<div class="h-screen flex justify-center items-center">
  <div class="w-4/5 h-5/6 xl:h-4/5 md:w-[680px] flex items-center flex-col">
    <h2 class="text-white">Task Management</h2>

    <div class="mt-2 w-full flex justify-between items-center">
      <mat-button-toggle-group
        class="custom-toggle-button-group"
        [formControl]="taskStatusControl"
        aria-label="Task status"
      >
        <mat-button-toggle value="all">All</mat-button-toggle>
        <mat-button-toggle value="completed">Completed</mat-button-toggle>
        <mat-button-toggle value="incompleted">Incompleted</mat-button-toggle>
      </mat-button-toggle-group>

      <button
        mat-mini-fab
        matTooltip="Add new task"
        aria-label="Button add new task"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div class="w-full mt-6 shadow overflow-y-scroll scrollbar-hide">
      @for (task of taskList(); track task.id) {
      <div
        class="bg-white rounded-lg px-2 py-3 mt-2 first:mt-0 shadow-lg flex items-center justify-between"
      >
        <div class="flex items-center">
          <mat-checkbox
            [checked]="task.isCompleted"
            (change)="onToggleCompleteTask(task)"
          >
            <div
              class="ml-1 {{
                task.isCompleted ? 'line-through text-slate-500' : ''
              }}"
            >
              <span class="cursor-pointer text-base block">
                {{ task.title }}
              </span>
              <span class="text-sm block">
                <b>Deadline:</b> {{ task.dueDate | date : "medium" }}
              </span>
            </div>
          </mat-checkbox>
        </div>

        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu class="bg-white" #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item>
            <mat-icon>tag</mat-icon>
            <span>Tag friends</span>
          </button>
          <button mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </div>
      }
    </div>
  </div>
</div>
