<div class="h-screen flex justify-center items-center">
  <div class="w-4/5 h-5/6 xl:h-4/5 md:w-[680px] flex items-center flex-col">
    <h2 class="text-white">Task Management</h2>

    <div class="mt-2 w-full flex justify-between items-center">
      <mat-button-toggle-group
        class="custom-toggle-button-group"
        [formControl]="taskStatusControl"
        aria-label="Task status"
      >
        <mat-button-toggle value="all">All</mat-button-toggle>
        <mat-button-toggle value="completed">Completed</mat-button-toggle>
        <mat-button-toggle value="incomplete">Incomplete</mat-button-toggle>
      </mat-button-toggle-group>

      <button
        mat-mini-fab
        matTooltip="Add new task"
        aria-label="Button add new task"
        (click)="openAddTaskDialog()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>

    @if (isFetchingTaskList()) {
    <div class="mt-8 flex justify-center">
      <div
        class="spinner-border animate-spin inline-block w-10 h-10 border-4 rounded-full border-r-transparent ml-2"
      ></div>
    </div>
    } @else if (taskList().length == 0) {
    <div class="mt-8 flex justify-center">
      <span class="text-red-700 text-xl">No tasks to show!</span>
    </div>
    } @else {
    <div
      class="w-full mt-6 shadow-xl drop-shadow-xl overflow-y-scroll scrollbar-hide"
    >
      @for (task of taskList(); track task.id) {
      <div
        class="bg-white rounded-lg px-2 py-3 mt-2 first:mt-0 shadow-lg flex items-center justify-between"
      >
        <div class="flex items-center">
          <mat-checkbox
            [disabled]="isHandlingUpdateList().includes(task.id)"
            [checked]="task.isCompleted"
            (change)="toggleCompleteTask(task)"
          >
            <div
              class="ml-1 {{
                task.isCompleted ? 'line-through text-slate-500' : ''
              }}"
            >
              <span class="cursor-pointer text-base block">
                {{ task.title }}
              </span>
              <span class="text-sm block">
                <b>Deadline:</b> {{ task.dueDate | date : "short" }}
              </span>
            </div>
          </mat-checkbox>
        </div>

        <button
          mat-icon-button
          [disabled]="isHandlingUpdateList().includes(task.id)"
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu class="bg-white" #menu="matMenu">
          <button mat-menu-item (click)="openUpdateTaskDialog(task)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="openTagFriendsDialog(task)">
            <mat-icon>tag</mat-icon>
            <span>Tag friends</span>
          </button>
          <button mat-menu-item (click)="deleteTask(task)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </div>
      }
    </div>
    }
  </div>
</div>

<div class="fixed right-5 bottom-5">
  <button
    class="size-12 bg-primary rounded-full flex items-center justify-center hover:opacity-80 mb-4"
    matTooltip="Tagged tasks"
    (click)="openTaggedTasksBottomSheet()"
  >
    <mat-icon class="text-white">notifications_active</mat-icon>
    @if (hasTaggedTasks()) {
    <span
      class="absolute top-0 right-0 size-4 rounded-full bg-danger text-white flex items-center justify-center text-xs"
    ></span>
    }
  </button>

  <button
    class="size-12 bg-primary rounded-full flex items-center justify-center hover:opacity-80"
    matTooltip="Logout"
    (click)="logout()"
  >
    <mat-icon class="text-white">logout</mat-icon>
  </button>
</div>
