<div class="pt-3 px-1 max-h-64 min-w-[480px]">
  <div
    class="py-2 px-4 rounded-3xl bg-slate-200 hover:bg-slate-300 flex justify-between items-center mb-3"
  >
    <div>
      <span class="line-clamp-1">Go to gym with team</span>
      <span class="line-clamp-1 text-xs">
        <b>Tagged by:</b> Trần mỹ phú Lâm
      </span>
      <span class="line-clamp-1 text-xs"> <b>Due:</b> 20/03/2003 </span>
    </div>
    <div>
      <button mat-icon-button class="mr-1" matTooltip="Accept">
        <mat-icon class="text-green-600">check</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Decline">
        <mat-icon class="text-danger">close</mat-icon>
      </button>
    </div>
  </div>
</div>
