<div class="py-3 px-1 max-h-64 min-w-[480px]">
  @if (isFetchingTaggedTask()) {
  <div class="flex justify-center">
    <div
      class="spinner-border animate-spin inline-block w-10 h-10 border-4 border-primary rounded-full border-r-transparent"
    ></div>
  </div>
  } @else if (taggedTasks().length == 0) {
  <div class="text-center">
    <span class="text-danger">No task was tagged to you!</span>
  </div>
  } @else { @for (task of taggedTasks(); track task.id) {
  <div
    class="py-2 px-4 rounded-3xl bg-slate-200 {{
      isSubmittingList().includes(task.id)
        ? 'text-slate-500'
        : 'hover:bg-slate-300'
    }} flex justify-between items-center mb-3 last:mb-0"
  >
    <div>
      <span class="line-clamp-1">{{ task.title }}</span>
      <span class="line-clamp-1 text-xs">
        <b>Tagged by:</b> <span> {{ task.user?.email }}</span>
      </span>
      <span class="line-clamp-1 text-xs">
        <b>Due:</b> {{ task.dueDate | date : "short" }}
      </span>
    </div>
    <div>
      @if (isSubmittingList().includes(task.id)) {
      <div
        class="spinner-border animate-spin inline-block w-7 h-7 border-2 border-slate-400 rounded-full border-r-transparent"
      ></div>
      } @else {

      <button
        [disabled]="isSubmittingList().includes(task.id)"
        mat-icon-button
        class="mr-1"
        matTooltip="Accept"
        (click)="acceptTaggedTask(task)"
      >
        <mat-icon class="text-green-600">check</mat-icon>
      </button>
      <button
        [disabled]="isSubmittingList().includes(task.id)"
        mat-icon-button
        matTooltip="Decline"
        (click)="declineTaggedTask(task)"
      >
        <mat-icon class="text-danger">close</mat-icon>
      </button>
      }
    </div>
  </div>
  } }
</div>
